body {
  font-family: '';
  
}
h1,
h2,
h3 {
  margin: 0 ;
}
h1 {
  color: black;
  font-size: 3rem;
}
h2 {
  color: black;
  font-size: 1.2rem;
}
h3 {
  color: black;
  font-size: 1rem;
  padding:0px 10px;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: center;
}
.row.center {
  align-items: center;
}
.col {
  flex: 0.2;
}
.row-2 {
  flex: 0.5;
}
.block {
  background-color:whitesmoke;
  padding: 1rem;
  margin: 0.1rem;
  border-radius: 1.5rem;
}
.text-right {
  text-align: right;

}
img.small {
  max-height: 8rem;
  padding: 5px;
  width: 200px;
  height: 200px;

}
.small{
  padding: 5px;
}
button {
  background-color: grey;
  color: black;
  display:block;
  font-size: 1rem;
  padding: 0.2rem;
  margin: 0.8rem;
  border-radius: 0.5rem;
  border: 0.1rem ;
  width: 8rem;
  cursor: pointer;
}
button.add {
  background-color: mistyrose;
  width: 1rem;
}
button.remove {
  background-color:mistyrose;
  width: 1rem;
}
button.badge {
  background-color:aliceblue;
  border: none;
  color:black;
  width: 0.5rem;

}
.box{
  display: flex;
}
.medium{
  display: flex;
  align-items: center;
  padding: 5px;

}